name: flutter_kurdish_localization
description: Flutter Central Kurdish Localization in easy steps, simple ways to localize and translate your app to Central Kurdish.
version: 1.1.5
homepage: https://github.com/aminsamad/flutter_kurdish_localization


environment:
  sdk: ">=3.10.8 <4.0.0"
  flutter: ">=3.38.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
