name: flutter_kurdish_localization
description: Flutter Central Kurdish Localization in easy steps, simple ways to localize and translate your app to Central Kurdish.
version: 1.1.2
homepage: https://github.com/DilanGhareeb/flutter_kurdish_localization

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
